<footer class="card footer">
    <div class="container">
        <div class="flex card-container justify-content-between blue-container overflow-hidden container text-sm">
            <div class="flex flex-none justify-content-center">
                {{year}} © Crocus Technology.
            </div>
            <div class="flex-grow-1 flex justify-content-center"></div>
            <div class="col-sm-6">
                <div class="flex flex-none justify-content-center">
                    Demo version
                </div>
            </div>
        </div>
    </div>
</footer>