:host ::ng-deep .p-progressbar {
    height: 1rem;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


p {
    margin: 10px auto;
}

.col-jan {
    background-color: rgb(1, 141, 232);
}

.col-feb {
    background-color: rgb(138, 211, 225);
}

.col-mar {
    background-color: rgb(172, 210, 104);
}

.col-apr {
    background-color: rgb(147, 190, 3);
}

.col-may {
    background-color: rgb(238, 116, 168);
}

.col-jun {
    background-color: rgb(228, 1, 93);
}

.col-jul {
    background-color: rgb(230, 0, 0);
}

.col-aug {
    background-color: rgb(235, 27, 0);
}

.col-sep {
    background-color: rgb(244, 102, 0);
}

.col-oct {
    background-color: rgb(239, 178, 0);
}

.col-nov {
    background-color: rgb(122, 0, 37);
}

.col-dev {
    background-color: rgb(28, 3, 100);
}